@import "../../styles/variables";

.filterBtn {
  display: flex;
  align-items: center;
  color: $desaturatedCyan;
  background: $backgroundColor;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;

  .filterName {
    padding: 5px;
  }

  .removeBtn {
    cursor: pointer;
    margin-left: 5px;
    padding: 10px;
    background: $desaturatedCyan;
    color: $backgroundColor;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }

  .removeBtn:hover {
    background: $veryDarkGrayishCyan;
    color: $backgroundColor;
  }
}

@media screen and (max-width: 375px) {
  .filterBtn {
    font-size: 0.75rem;
  }
}
