.header {
  height: 10vh;
  width: 100%;
  background: hsl(180, 29%, 50%);
  background-image: url("/assets/images/bg-header-desktop.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
